<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "International Tennis Hall of Fame" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
</style>
    <script>
  jQuery(function(){
	jQuery('.animated').on('mouseover',function(){
	 jQuery('> .count',this).hide();
	 jQuery('> .count_reverse',this).show();
	});
	jQuery('.animated').on('mouseout',function(){
	 jQuery('> .count',this).show();
	 jQuery('> .count_reverse',this).hide();
	
	});
	
});
  </script>
</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
           <span class="logo"><img src="images/logo.png" /></span>
			<span class="title">2019 FAN VOTING</span>
       
          </nav>
        </div>
	<div id="google_translate_element"></div>

      </div>
      <!-- /top navigation -->


      <!-- page content -->
      <div class="content" role="main">
		<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
		   <video id="my-video" class="video-js" controls preload="auto" poster="images/poster.jpg" data-setup="{}">
			<source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
			<source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
			<p class="vjs-no-js">
			  To view this video please enable JavaScript, and consider upgrading to a web browser that
			  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		  </video>
		  
		   </div>
		    </div>
        <!-- top tiles -->
        
        <!-- /top tiles -->

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

              <div class="row x_title" style="border: none;margin-top: 53px;margin-left: 446px;float: left;"><div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="main_tx">Be Part of the journey.</h1>
                </div>
			  </div>
				<div class="col-md-12 col-sm-12 col-xs-12">
                 <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                      <li>
                        <a href="#step-1">
                          <span class="step_no"></span>
                          <span class="step_descr">
                                            VOTE
                                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-2">
                          <span class="step_no stp_fill"></span>
                          <span class="step_descr">
                                           VERIFY
                                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-3">
                          <span class="step_no stp_fill"></span>
                          <span class="step_descr">
                                            SHARE
                                        </span>
                        </a>
                      </li>
                     
                    </ul>
                    <div id="step-1">
                    <ul class="col-sm-10 col-md-10 col-xs-10 col-sm-offset-2 col-md-offset-2 animated_ul">                
                    <li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                          <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                          <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
					 <li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                            <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                         <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
					<li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                           <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                          <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
					<li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                          <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                          <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
					<li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                           <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                         <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
					<li class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">                                       
                        <div class="count" style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;display: block;"></div>
						<div class="count_reverse" style="display: none;">
						<div style="background:url('images/player.jpg') no-repeat scroll 0 0 transparent;background-size: cover;height:335px;"></div>
						<span class="overlay">
							<div class="candidate_div">
							<img src="images/logo_small.png" /><br />
							<span class="vp">VIEW PROFILE</span>
							<span class="border"></span>
							</div>
						</span>
						</div>
                           <h3 style="color: #fff;padding-left: 30px;padding-top: 15px;">Player Name</h3>
                          <p style="color: #e1e723;margin: -4px 0px 0px 30px !important;font-size: 14px;">COUNTRY</p>
						  <span class="check_box">				
						  <label class="chk_container">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>					  
						  </span>
                    </li>
                  </ul>
                 <div class="clearfix"></div>
				 
				  <div class="row x_title" style="border: none;margin-top: 40px;">
					<div class="col-md-12 col-sm-12 col-xs-12">
					  <h1 class="titles">Enter in your email address to register to vote.</h1>
					   <div class="form-group">
					  <div class="col-sm-3 col-md-3"></div>
                      <div class="col-sm-6 col-md-6">                    
                        <div class="input-group">
                          <input type="text" class="form-control email_entry" placeholder="Email address">
                          <span class="input-group-btn">
                           <button type="button" class="btn btn-danger vote_btn">VOTE</button>
                           </span>
                        </div>
						<div class="input-group confirm_vote_section"> <span class="check_box2">				
						  <label class="chk_container2">
						  <input type="checkbox">
						  <div class="checkmark2"></div>
						</label>					  
						  </span><span class="confirm_vote_span">Sign me up for ongoing notifications 	 about this year's inductees.</span></div>
                      </div>
					  <div class="col-sm-3 col-md-3"></div>
                    </div>
					</div>
				  </div>
                    </div>
                    <div id="step-2">
                    
                    </div>
                    <div id="step-3">
                     
                    </div>
                    <div id="step-4">
                      
                    </div>

                  </div>
                </div>
                
              </div>
				</div> 
				</div>
              <div class="clearfix"></div>
            
        <br />
       
      </div>
      <!-- /page content -->

      <!-- footer content -->
     
      <!-- /footer content -->
    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <!-- /datepicker -->
  <!-- /footer content -->
</body>

</html>
